In [1]:
import pandas as pd
df = pd.read_csv(r"C:\code\CSLMSM\cleansky_LMSM\file_input\sensor_data_v2.csv", header=0)
df

,N/A,N/A.1,,.1,BMP388,1024,BME280,0,0.1,BME280.1,...,8,BME280.9,0.10,9,BME280.10,0.11,10,BME280.11,0.12,11
0,H RTC,m RTC,s RTC,ss RTC,P,T,P,T,H,P,...,H,P,T,H,P,T,H,P,T,H
1,19,32,18,317,NaN,NaN,99124.48,21.68,35.93,99035.41,...,34.27,99105.64,21.81,34.41,99071.52,21.66,34.76,99097.93,21.9,35.71
2,19,32,19,271,NaN,NaN,99128.02,21.68,36.33,99031.88,...,34.26,99097.64,21.81,34.42,99071.52,21.66,34.73,99107.8,21.91,35.69
3,19,32,20,221,NaN,NaN,99123.48,21.69,36.06,99041.6,...,34.28,99105.64,21.81,34.4,99080.2,21.68,34.72,99104.22,21.9,35.7
4,19,32,21,169,NaN,NaN,99112.66,21.69,36.3,99037.25,...,34.26,99101.12,21.82,34.4,99071.52,21.66,34.72,99101.5,21.9,35.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,19,35,36,395,NaN,NaN,99121.59,21.53,36.19,99039.39,...,34.17,99103.48,21.58,34.31,99067.59,21.43,34.62,99093.54,21.68,35.52
211,19,35,37,342,NaN,NaN,99115.15,21.54,36.17,99031.32,...,34.17,99098.15,21.58,34.31,99068.63,21.42,34.63,99097.98,21.69,35.5
212,19,35,38,292,NaN,NaN,99127.84,21.53,36.14,99030.29,...,34.19,99098.15,21.58,34.32,99065.94,21.42,34.62,99097.12,21.68,35.48
213,19,35,39,239,NaN,NaN,99118.88,21.53,36.12,99038.54,...,34.16,99093.64,21.59,34.3,99065.72,21.44,34.64,99103.41,21.69,35.47
214,19,35,40,189,NaN,NaN,99112.63,21.52,36.26,99037.54,...,34.16,99098.97,21.59,34.33,99067.59,21.43,34.62,99097.12,21.68,35.5

In [3]:
header_list = df.columns
header_list

Index(['N/A', 'N/A.1', '  ', '  .1', 'BMP388', '1024', 'BME280', '0', '0.1',
       'BME280.1', '0.2', '1', 'BME280.2', '0.3', '2', 'BME280.3', '0.4', '3',
       'BME280.4', '0.5', '4', 'BME280.5', '0.6', '5', 'BME280.6', '0.7', '6',
       'BME280.7', '0.8', '7', 'BME280.8', '0.9', '8', 'BME280.9', '0.10', '9',
       'BME280.10', '0.11', '10', 'BME280.11', '0.12', '11'],
      dtype='object')

In [6]:
pattern = '^[^0-9]'
sensor_name_flag = header_list.str.contains(pat=pattern)
sensor_name_flag[:4] = False
sensor_name_flag

array([False, False, False, False,  True, False,  True, False, False,
        True, False, False,  True, False, False,  True, False, False,
        True, False, False,  True, False, False,  True, False, False,
        True, False, False,  True, False, False,  True, False, False,
        True, False, False,  True, False, False])

In [7]:
sensor_name = header_list[sensor_name_flag]
sensor_name

Index(['BMP388', 'BME280', 'BME280.1', 'BME280.2', 'BME280.3', 'BME280.4',
       'BME280.5', 'BME280.6', 'BME280.7', 'BME280.8', 'BME280.9', 'BME280.10',
       'BME280.11'],
      dtype='object')