In [10]:
import pandas as pd
df = pd.read_csv(filepath_or_buffer=r"C:\code\gitDrive\CSLMSM\cleansky_LMSM\file_input\160622_06_34_41_modif.csv", header=0, sep=';')

In [11]:
df

,16/06/2022,6:34:41:0,A/C,,0-0,0-0.1,0-0.2,0-1,0-1.1,0-1.2,...,0-8.2,0-9,0-9.1,0-9.2,0-10,0-10.1,0-10.2,0-11,0-11.1,0-11.2
0,H RTC,m RTC,s RTC,ss RTC,P,T,H,P,T,H,...,H,P,T,H,P,T,H,P,T,H
1,6,35,16,878,100193.36,19.40,49.51,100113.85,19.51,49.27,...,46.58,100183.06,19.82,46.52,100145.09,19.79,46.33,100175.23,20.18,48.34
2,6,35,17,869,100191.51,19.41,49.54,100111.17,19.51,49.36,...,46.60,100180.24,19.84,46.52,100144.08,19.80,46.33,100176.97,20.19,48.32
3,6,35,18,857,100192.36,19.41,49.14,100107.49,19.52,49.34,...,46.57,100183.72,19.84,46.52,100144.08,19.80,46.33,100174.26,20.19,48.32
4,6,35,19,841,100190.52,19.42,49.14,100117.23,19.53,49.35,...,46.56,100181.06,19.84,46.54,100143.06,19.81,46.32,100173.30,20.20,48.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11287,9,42,36,750,100331.93,28.11,34.28,100265.92,28.37,34.90,...,34.70,100336.31,29.51,35.39,100297.70,29.48,36.52,100320.80,30.10,35.09
11288,9,42,37,751,100331.09,28.11,34.60,100260.65,28.35,35.23,...,34.73,100340.65,29.52,35.42,100304.81,29.49,36.53,100318.05,30.10,35.12
11289,9,42,38,755,100328.35,28.11,34.07,100266.09,28.35,35.24,...,34.73,100347.70,29.53,35.43,100304.81,29.49,36.55,100319.07,30.09,35.14
11290,9,42,39,756,100334.86,28.10,34.05,100275.94,28.36,35.15,...,34.76,100339.60,29.53,35.46,100303.98,29.49,36.55,100317.03,30.11,35.21
11291,9,42,40,770,100331.93,28.11,34.39,100265.27,28.35,35.20,...,34.78,100336.08,29.53,35.46,100301.26,29.49,36.59,100320.80,30.10,35.22

In [12]:
test_info = df.columns[:3]
test_info

Index(['16/06/2022', '6:34:41:0', 'A/C'], dtype='object')

In [13]:
time_df = df[df.columns[:4]][1:]
time_df

      16/06/2022 6:34:41:0 A/C
1              6        35  16  878
2              6        35  17  869
3              6        35  18  857
4              6        35  19  841
5              6        35  20  832
...          ...       ...  ..  ...
11287          9        42  36  750
11288          9        42  37  751
11289          9        42  38  755
11290          9        42  39  756
11291          9        42  40  770

[11291 rows x 4 columns]

In [14]:
for loc_list in df.columns[4:]:
    my_df = df[loc_list][1:]
    my_df = pd.concat([time_df, my_df], axis=1)
    # print(my_df)
    # break
    for index, row in my_df.iterrows():
        time_stamp = str(row[0]) + ":" + str(row[1]) + ":" + str(row[2]) + "." + str(row[3])
        print(time_stamp)
        v = row[4]
        print(v)
        break
    break

6:35:16.878
100193.36

In [15]:
df.columns

Index(['16/06/2022', '6:34:41:0', 'A/C', '  ', '0-0', '0-0.1', '0-0.2', '0-1',
       '0-1.1', '0-1.2', '0-2', '0-2.1', '0-2.2', '0-3', '0-3.1', '0-3.2',
       '0-4', '0-4.1', '0-4.2', '0-5', '0-5.1', '0-5.2', '0-6', '0-6.1',
       '0-6.2', '0-7', '0-7.1', '0-7.2', '0-8', '0-8.1', '0-8.2', '0-9',
       '0-9.1', '0-9.2', '0-10', '0-10.1', '0-10.2', '0-11', '0-11.1',
       '0-11.2'],
      dtype='object')

In [16]:
loc_list = list(df.columns)
for i in range(len(loc_list)):
    if loc_list[i].find('.') != -1:
        new_loc = loc_list[i]
        new_loc = new_loc[:loc_list[i].find('.')]
        loc_list[i] = new_loc
print(loc_list)

['16/06/2022', '6:34:41:0', 'A/C', '  ', '0-0', '0-0', '0-0', '0-1', '0-1', '0-1', '0-2', '0-2', '0-2', '0-3', '0-3', '0-3', '0-4', '0-4', '0-4', '0-5', '0-5', '0-5', '0-6', '0-6', '0-6', '0-7', '0-7', '0-7', '0-8', '0-8', '0-8', '0-9', '0-9', '0-9', '0-10', '0-10', '0-10', '0-11', '0-11', '0-11']

In [17]:
df1 = df['0-2']
print(df1)

0          P
1        NaN
2        NaN
3        NaN
4        NaN
        ...
11287    NaN
11288    NaN
11289    NaN
11290    NaN
11291    NaN
Name: 0-2, Length: 11292, dtype: object

In [18]:
df1[2]

nan

In [21]:
pd.isna(df1[2])

True