In [28]:
import pandas as pd

data = pd.read_excel('Données du vol du 28 Février 2016.xlsx', sheet_name = 1, header = 3).drop('Unnamed: 13', axis = 1)
data = data.drop([65, 66])
data.tail()

,Nom photo,Longitude,Latitude,Altitude m,Altitude feet,Heure GMT,durée,Distance m,Incidence °,Vitesse photo,Iso,Qualité photo,poids photo Ko
60,image_28_02_2016_13_06_53.jpg,5.21198,43.4387,14,46.082949,2016-02-28 13:06:52,3556.0,466.804208,0.245480,1/3333,200.0,bonne,897.0
61,image_28_02_2016_13_07_03.jpg,5.21546,43.4363,14,46.082949,2016-02-28 13:07:03,3567.0,388.630267,0.000000,1/3333,200.0,bonne,900.0
62,image_28_02_2016_13_07_12.jpg,5.21744,43.4349,16,52.666228,2016-02-28 13:07:12,3576.0,222.514427,0.514971,1/3333,NaN,bonne,875.0
63,image_28_02_2016_13_07_23.jpg,5.21932,43.4336,17,55.957867,2016-02-28 13:07:23,3587.0,208.783168,0.274425,1/3333,NaN,bonne,881.0
64,image_28_02_2016_13_09_33.jpg,5.22306,43.438,0,0.000000,2016-02-28 13:09:31,3715.0,566.219244,-1.719716,1/3333,200.0,bonne,869.0

In [37]:
sensor = pd.read_excel(r'C:\Users\iventre\Desktop\projet en cours\cleansky 2\STELLAR\interface\param\valeurs mesurées2.xlsx')
print(np.asarray(sensor.columns))

['E_1_6' 'E_1_6.1' 'E_1_6.2' 'E_1_6.3' 'E_1_6.4' 'E_1_6.5' 'E_1_5'
 'E_1_5.1' 'E_1_5.2' 'E_1_5.3' 'E_1_5.4' 'E_1_5.5' 'E_1_4' 'E_1_4.1'
 'E_1_4.2' 'E_1_4.3' 'E_1_4.4' 'E_1_4.5' 'E_1_3' 'E_1_3.1' 'E_1_3.2'
 'E_1_3.3' 'E_1_3.4' 'E_1_3.5' 'E_1_2' 'E_1_2.1' 'E_1_2.2' 'E_1_2.3'
 'E_1_2.4' 'E_1_2.5' 'E_1_1_G1' 'E_1_1_G1.1' 'E_1_1_G1.2' 'E_1_1_G1.3'
 'E_1_1_G1.4' 'E_1_1_G1.5' 'B_1_0_G1' 'B_1_0_G1.1' 'B_1_0_G1.2'
 'B_1_0_G1.3' 'B_1_0_G1.4' 'B_1_0_G1.5' 'I_1_-1_G1' 'I_1_-1_G1.1'
 'I_1_-1_G1.2' 'I_1_-1_G1.3' 'I_1_-1_G1.4' 'I_1_-1_G1.5' 'I_1_-2'
 'I_1_-2.1' 'I_1_-2.2' 'I_1_-2.3' 'I_1_-2.4' 'I_1_-2.5' 'I_1_-3'
 'I_1_-3.1' 'I_1_-3.2' 'I_1_-3.3' 'I_1_-3.4' 'I_1_-3.5' 'I_1_-4'
 'I_1_-4.1' 'I_1_-4.2' 'I_1_-4.3' 'I_1_-4.4' 'I_1_-4.5' 'I_1_-5'
 'I_1_-5.1' 'I_1_-5.2' 'I_1_-5.3' 'I_1_-5.4' 'I_1_-5.5' 'I_1_-6'
 'I_1_-6.1' 'I_1_-6.2' 'I_1_-6.3' 'I_1_-6.4' 'I_1_-6.5' 'E_2_6' 'E_2_6.1'
 'E_2_6.2' 'E_2_6.3' 'E_2_6.4' 'E_2_6.5' 'E_2_5' 'E_2_5.1' 'E_2_5.2'
 'E_2_5.3' 'E_2_5.4' 'E_2_5.5' 'E_2_4' 'E_2_4.1' 'E_2_4.2' 'E_2_4.3'
 'E_2_4.4' 'E_2_4.5' 'E_2_3' 'E_2_3.1' 'E_2_3.2' 'E_2_3.3' 'E_2_3.4'
 'E_2_3.5' 'E_2_2' 'E_2_2.1' 'E_2_2.2' 'E_2_2.3' 'E_2_2.4' 'E_2_2.5'
 'E_2_1_G1' 'E_2_1_G1.1' 'E_2_1_G1.2' 'E_2_1_G1.3' 'E_2_1_G1.4'
 'E_2_1_G1.5' 'B_2_0_G1' 'B_2_0_G1.1' 'B_2_0_G1.2' 'B_2_0_G1.3'
 'B_2_0_G1.4' 'B_2_0_G1.5' 'I_2_-1_G1' 'I_2_-1_G1.1' 'I_2_-1_G1.2'
 'I_2_-1_G1.3' 'I_2_-1_G1.4' 'I_2_-1_G1.5' 'I_2_-2' 'I_2_-2.1' 'I_2_-2.2'
 'I_2_-2.3' 'I_2_-2.4' 'I_2_-2.5' 'I_2_-3' 'I_2_-3.1' 'I_2_-3.2'
 'I_2_-3.3' 'I_2_-3.4' 'I_2_-3.5' 'I_2_-4' 'I_2_-4.1' 'I_2_-4.2'
 'I_2_-4.3' 'I_2_-4.4' 'I_2_-4.5' 'I_2_-5' 'I_2_-5.1' 'I_2_-5.2'
 'I_2_-5.3' 'I_2_-5.4' 'I_2_-5.5' 'I_2_-6' 'I_2_-6.1' 'I_2_-6.2'
 'I_2_-6.3' 'I_2_-6.4' 'I_2_-6.5']

['t θ' 'θ' 't P' 'P' 't H' 'H' 't θ' 'θ' 't P' 'P' 't H' 'H' 't γx' 'γx'
 't γy' 'γy' 't γz' 'γz' 't θ' 'θ' 't P' 'P' 't H' 'H' 't θ' 'θ' 't P' 'P'
 't H' 'H' 't θ' 'θ' 't P' 'P' 't H' 'H' 't θ' 'θ' 't P' 'P' 't H' 'H'
 't θ' 'θ' 't P' 'P' 't H' 'H' 't θ' 'θ' 't P' 'P' 't H' 'H' 't θ' 'θ'
 't P' 'P' 't H' 'H' 't θ' 'θ' 't P' 'P' 't H' 'H' 't θ' 'θ' 't P' 'P'
 't H' 'H' 't θ' 'θ' 't P' 'P' 't H' 'H' 't γx' 'γx' 't γy' 'γy' 't γz'
 'γz' 't θ' 'θ' 't P' 'P' 't H' 'H' 't θ' 'θ' 't P' 'P' 't H' 'H' 't θ'
 'θ' 't P' 'P' 't H' 'H' 't θ' 'θ' 't P' 'P' 't H' 'H' 't θ' 'θ' 't P' 'P'
 't H' 'H' 't θ' 'θ' 't P' 'P' 't H' 'H' 't θ' 'θ' 't P' 'P' 't H' 'H'
 't θ' 'θ' 't P' 'P' 't H' 'H' 't θ' 'θ' 't P' 'P' 't H' 'H' 't θ' 'θ'
 't P' 'P' 't H' 'H' 't θ' 'θ' 't P' 'P' 't H' 'H' 't θ' 'θ' 't P' 'P'
 't H' 'H']